<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
</head>
<body>
    <main>
        <div>
            <h1>Detalles del Producto</h1>
            
            <div>
                <p>Marca: <%= producto.marca %></p>
                <p>Modelo: <%= producto.modelo %></p>
                <p>Precio: <%= producto.precio %></p>
                <!-- Agrega más detalles según tus necesidades -->
            </div>

            <div>
                <a href="/productos">Volver a la lista de productos</a>
            </div>
        </div>
    </main>
</body>
</html>
